html {
  background-color: DimGray;
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  background-color: Gray;
  border: outset 3px DarkGray;
  border-radius: 5px;
  margin: 8px auto;
  max-width: 70em;
  padding: 1em
}

/* Headers look like bolted-on interface labels */
h1, h2, h3 {
  background-color: Gray;
  border: outset 2px DarkGray;
  border-radius: 5px;
  color: Black;
  padding: 10px 20px;
  text-align: center;
  text-shadow: 1px 1px 0px DarkGray;
  text-transform: uppercase;
}

hr {
  outline: 1px inset Black;
}

/* most of the writing should look like a terminal display */
body > ul {
  padding: 1em;
}

p, pre, table, ul {
  background-color: #000B00;
  color: LimeGreen;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  list-style-position: inside;
  list-style-type: square;
  margin: 1em;
  outline: inset DarkSeaGreen;
  padding: 1em;
}

li ul {
  padding: 0 1em;
}

p a, pre a, table a, ul a {
  color: LimeGreen;
}

li ul {
  margin: 0;
  outline: none;
}

img {
  display: inline-block;
  height: 150px;
  margin: 1em;
  outline: solid 2px Green;
  width: auto;
}

/* top-level links look like chunky buttons */
center > a {
  border: outset 4px DarkGray;
  color: Black;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

center > a:link {
  background-color: Blue;
}

center > a:visited {
  background-color: Magenta;
}

center > a:hover, body > a:active {
  border-color: Gray;
}
